# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Functions (Node)
functions/node_modules/
functions/lib/
functions/.runtimeconfig.json

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/

